
<!-- banner -->
<section class="banner" id="home">
	<div class="callbacks_container">
		<ul class="rslides" id="slider3">
			<li>
				<div class="slider-info bg1">
					<div class="bs-slider-overlay">
					<div class="banner-text container">
						<h5 class="tag text-left mb-3 text-uppercase">We are professional </h5>
						<h1 class="movetxt text-left agile-title text-uppercase">The Best Place For </h1>
						<h2 class="movetxt text-left mb-3 agile-title text-uppercase">Hair Salon </h2>							
						<a class="bt mt-4 text-capitalize scroll" href="#about" role="button"> read more
							<i class="fas fa-cut"></i>
						</a>
					</div>
					</div>
				</div>
			</li>
			<li>
				<div class="slider-info bg2">
					<div class="bs-slider-overlay">
					<div class="banner-text container">
						<h5 class="tag text-left mb-3 text-uppercase">We are unique</h5>
						<h4 class="movetxt text-left agile-title text-uppercase">Your Hair Beauty </h4>
						<h4 class="movetxt text-left mb-3 agile-title text-uppercase">Our Duty </h4>
						<a class="bt mt-4 text-capitalize scroll" href="#about" role="button"> read more
							<i class="fas fa-cut"></i>
						</a>
					</div>
					</div>
				</div>
			</li>
			<li>
				<div class="slider-info bg3">
					<div class="bs-slider-overlay">
					<div class="banner-text container">
						<h5 class="tag text-left mb-3 text-uppercase">We make your hair</h5>
						<h4 class="movetxt text-left agile-title text-uppercase">We Make Your Hair </h4>
						<h4 class="movetxt text-left mb-3 agile-title text-uppercase">Look Perfect </h4>
						
						<a class="bt mt-4 text-capitalize scroll" href="#about" role="button"> read more
							<i class="fas fa-cut"></i>
						</a>
					</div>
					</div>
				</div>
			</li>
			<li>
				<div class="slider-info bg4">
					<div class="bs-slider-overlay">
					<div class="banner-text container">
						<h5 class="tag text-left mb-3 text-uppercase">We make stylish hair</h5>
						<h4 class="movetxt text-left agile-title text-uppercase">Rea Man's to go </h4>
						<h4 class="movetxt text-left mb-3 agile-title text-uppercase">Real Beards </h4>
						<a class="bt mt-4 text-capitalize scroll" href="#about" role="button"> read more
							<i class="fas fa-cut"></i>
						</a>
					</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<!-- //banner -->

<!-- About -->
<section class="about py-5" id="about">
	<div class="container py-lg-3 py-2">
		<div class="heading text-center">
			<i class="fas fa-cut"></i>
			<h3 class="heading mb-sm-5 mb-3 text-uppercase">About us</h3>
		</div>
		<div class="row about-grids">
			<div class="col-lg-4 about-grid1 mb-lg-0 mb-5">
				<h3 class="text-uppercase">Welcome to our Hair Salon shop</h3>
				<p class="my-lg-4 my-3">Established in the year 2009, Alex Saloon in Satara City, Satara is a top player in the category Salons in the Satara. This well-known establishment acts as a one-stop destination servicing customers both local and from other parts of Satara</p>
				<a class="bt text-capitalize" href="#" role="button"> read more
					<i class="fas fa-cut"></i>
				</a>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="about-grid2 p-5">
					<h3>Expert in hair style</h3>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="about-grid3 p-5">
					<h3>12 years experience</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //About -->

<!-- services -->
<!--<section class="services py-5" id="services">
	<div class="container-fluid">
		<div class="heading text-center">
			<i class="fas fa-cut"></i>
			<h3 class="heading mb-sm-5 mb-3 text-uppercase">What We Do</h3>
		</div>
		<div class="row service-grids">
			<div class="col-lg-2 col-sm-6 col-12 serviceimage1">
				
			</div>
			<div class="col-lg-2 col-sm-6 col-12 py-5 px-4 servicetext">
				<h4>Classic Hair cut</h4>
				<p class="my-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero.</p>
				<a class="bt text-capitalize" href="#" role="button"> read more
					<i class="fas fa-cut"></i>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6 col-12 serviceimage2">
				
			</div>
			<div class="col-lg-2 col-sm-6 col-12 py-5 px-4 servicetext">
				<h4>Beard Waxing</h4>
				<p class="my-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero.</p>
				<a class="bt text-capitalize" href="#" role="button"> read more
					<i class="fas fa-cut"></i>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6 col-12 serviceimage3">
				
			</div>
			<div class="col-lg-2 col-sm-6 col-12 py-5 px-4 servicetext">
				<h4>Hair Coloring</h4>
				<p class="my-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero.</p>
				<a class="bt text-capitalize" href="#" role="button"> read more
					<i class="fas fa-cut"></i>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6 col-12 py-5 px-4 servicetext">
				<h4>Straightening</h4>
				<p class="my-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero.</p>
				<a class="bt text-capitalize" href="#" role="button"> read more
					<i class="fas fa-cut"></i>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6 col-12 serviceimage3">
				
			</div>
			<div class="col-lg-2 col-sm-6 col-12 py-5 px-4 servicetext">
				<h4>Beard Trim</h4>
				<p class="my-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero.</p>
				<a class="bt text-capitalize" href="#" role="button"> read more
					<i class="fas fa-cut"></i>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6 col-12 serviceimage1">
				
			</div>
			<div class="col-lg-2 col-sm-6 col-12 py-5 px-4 servicetext">
				<h4>Clean Shave</h4>
				<p class="my-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero.</p>
				<a class="bt text-capitalize" href="#" role="button"> read more
					<i class="fas fa-cut"></i>
				</a>
			</div>
			<div class="col-lg-2 col-sm-6 col-12 serviceimage2">
				
			</div>
		</div>
	</div>
</section>-->
<!-- //services -->



<!-- testimonials -->
	<div class="testimonials" id="testimonials">
	   <div class="test_agile_info py-5">
		<div class="container py-lg-3">
		<div class="heading text-center">
			<i class="fas fa-cut"></i>
			<h3 class="heading mb-sm-5 mb-3 text-uppercase">Customers Words</h3>
		</div>
			<ul id="flexiselDemo1">			
				<li>
					<div class="wthree_testimonials_grid_main">
						<div class="wthree_testimonials_grid">
							<p>Donec laoreet eu purus eu viverra. Vestibulum sed convallis massa,
								eu aliquet massa init. Suspendisse lacinia rutrum tincidunt. Integer id erat porta, 
								convallis tortor Vestibulum sedconvallis massa purus eu viverra.</p>
							<h5>Mark Henry</h5>
							<div class="wthree_testimonials_grid_pos">
								<img src="<?= base_url() ?>assets/images/t1.jpg" alt=" " class="img-responsive" />
							</div>
						</div>
					
					</div>
				</li>
				<li>
					<div class="wthree_testimonials_grid_main">
						<div class="wthree_testimonials_grid">
							<p>Lorem laoreet eu purus eu viverra. Vestibulum sed convallis massa,
								eu aliquet massa init. Suspendisse lacinia rutrum tincidunt. Integer id erat porta, 
								convallis tortor Vestibulum sedconvallis massa purus eu viverra.</p>
							<h5>Linda Carl</h5>
							<div class="wthree_testimonials_grid_pos">
								<img src="<?= base_url() ?>assets/images/t2.jpg" alt=" " class="img-responsive" />
							</div>
						</div>
					
					</div>
				</li>
				<li>
					<div class="wthree_testimonials_grid_main">
						<div class="wthree_testimonials_grid">
							<p>Donec laoreet eu purus eu viverra. Vestibulum sed convallis massa,
								eu aliquet massa init. Suspendisse lacinia rutrum tincidunt. Integer id erat porta, 
								convallis tortor Vestibulum sedconvallis massa purus eu viverra.</p>
							<h5>Michael Paul</h5>
							<div class="wthree_testimonials_grid_pos">
								<img src="<?= base_url() ?>assets/images/t3.jpg" alt=" " class="img-responsive" />
							</div>
						</div>
						
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- //testimonials -->

<!-- pricing -->
<section class="py-5" id="pricing">
	<div class="container">
		<div class="heading text-center">
			<i class="fas fa-cut"></i>
			<h3 class="heading mb-sm-5 mb-3 text-uppercase">Our Pricing</h3>
		</div>
		<!--/tabs-->
		<div class="responsive_tabs">
			<div id="horizontalTab">
				<ul class="resp-tabs-list">
					<li>Hair Spa</li>
					<li>Make Up</li>
					<li>Body Massage</li>
					<li>Bridal package</li>
				</ul>
				<div class="resp-tabs-container">
					<!--/tab_one-->
					<div class="tab1">
						<div class="tab-info">
							<div class="row tab-grids">
								
								<div class="col-md-3 " >
									<img src="<?= base_url() ?>assets/images/banner1.jpg" alt=" " class="img-responsive img-circle" />
									</div>
								<div class="col-md-3 " >
									<h3>Classic Hair Cut </h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>
								<div class="col-md-3 mt-md-0 mt-3">
									<img src="<?= base_url() ?>assets/images/banner2.jpg" alt=" " class="img-responsive img-circle" />
									
								</div>
								<div class="col-md-3 mt-md-0 mt-3">
									<h3>Hair Trimming </h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>

								<div class="col-md-3 mt-md-5 mt-3">
									<img src="<?= base_url() ?>assets/images/banner3.jpg" alt=" " class="img-responsive img-circle" />
									
								</div>
								<div class="col-md-3 mt-md-5 mt-3">
									<h3>Clipper Cut </h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>
								
								<div class="col-md-3 mt-md-5 mt-3">
									<img src="<?= base_url() ?>assets/images/banner4.jpg" alt=" " class="img-responsive img-circle" />
										
								</div>
								<div class="col-md-3 mt-md-5 mt-3">
									<h3>Clean Shave </h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>
							</div>
						</div>
					</div>
					<!--//tab_one-->
					<!--/tab_two-->
					<div class="tab2">

						<div class="tab-info">
							<div class="row tab-grids">
								<div class="col-md-3">
									<img src="<?= base_url() ?>assets/images/banner4.jpg" alt=" " class="img-responsive img-circle" />
									</div>
								<div class="col-md-3">
									<h3>Facial & clean-ups</h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>

								<div class="col-md-3 mt-md-0 mt-3">
									<img src="<?= base_url() ?>assets/images/banner4.jpg" alt=" " class="img-responsive img-circle" />
									</div>
								<div class="col-md-3 mt-md-0 mt-3">
									<h3>Hair Straightening </h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>

								<div class="col-md-3 mt-md-5 mt-3">
									<img src="<?= base_url() ?>assets/images/banner4.jpg" alt=" " class="img-responsive img-circle" />
								</div>
								<div class="col-md-3 mt-md-5 mt-3">
									<h3>Facial Make up </h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>

								<div class="col-md-3 mt-md-5 mt-3">
									<img src="<?= base_url() ?>assets/images/banner4.jpg" alt=" " class="img-responsive img-circle" />
								</div>
								<div class="col-md-3 mt-md-5 mt-3">
									<h3>Hair Grooming </h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>
							</div>
						</div>
					</div>
					<!--//tab_two-->
					<!--/tab_three-->
					<div class="tab3">

						<div class="tab-info">
							<div class="row tab-grids">
								<div class="col-md-3">
									<img src="<?= base_url() ?>assets/images/banner4.jpg" alt=" " class="img-responsive img-circle" />
								</div>
								<div class="col-md-3">
									<h3>Manicure</h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>

								<div class="col-md-3 mt-md-0 mt-3">
									<img src="<?= base_url() ?>assets/images/banner4.jpg" alt=" " class="img-responsive img-circle" />
								</div>
								<div class="col-md-3 mt-md-0 mt-3">
									<h3>Body Polish </h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>

								<div class="col-md-3 mt-md-5 mt-3">
									<img src="<?= base_url() ?>assets/images/banner4.jpg" alt=" " class="img-responsive img-circle" />
									</div>
								<div class="col-md-3 mt-md-5 mt-3">
									<h3>Threading</h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>

								<div class="col-md-3 mt-md-5 mt-3">
									<img src="<?= base_url() ?>assets/images/banner4.jpg" alt=" " class="img-responsive img-circle" />
									</div>
								<div class="col-md-3 mt-md-5 mt-3">
									<h3>Seasoul Body Spa </h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>
							</div>
						</div>
					</div>
					<!--//tab_three-->
					<!--/tab_four-->
					<div class="tab4">

						<div class="tab-info">
							<div class="row tab-grids">
								<div class="col-md-3">
									<img src="<?= base_url() ?>assets/images/banner4.jpg" alt=" " class="img-responsive img-circle" />
										</div>
								<div class="col-md-3">
									<h3>Beard Trimming</h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>
								<div class="col-md-3 mt-md-0 mt-3">
									<img src="<?= base_url() ?>assets/images/banner4.jpg" alt=" " class="img-responsive img-circle" />
									</div>
								<div class="col-md-3 mt-md-0 mt-3">
									<h3>Beard Grooming</h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>

								<div class="col-md-3 mt-md-5 mt-3">
									<img src="<?= base_url() ?>assets/images/banner4.jpg" alt=" " class="img-responsive img-circle" />
									</div>
								<div class="col-md-3 mt-md-5 mt-3">
									<h3>Razor Shave</h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>
								<div class="col-md-3 mt-md-5 mt-3">
									<img src="<?= base_url() ?>assets/images/banner4.jpg" alt=" " class="img-responsive img-circle" />
										</div>
								<div class="col-md-3 mt-md-5 mt-3">
									<h3> Beard Softening </h3>
									<p class="mt-3">Nam sed ullamcorper elit, sit amet libero in imperdiet dolor. Maecenas non commodo libero. Suspendisse sit amet</p>
								</div>
							</div>
						</div>
					</div>
					<!--//tab_four-->
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!--//tabs-->
		<div class="clearfix"> </div>
	</div>
</section>
<!-- //pricing -->

<!-- contact map and address -->
<section class="contact py-5" id="contact">
	<div class="container">
		<div class="heading text-center">
			<i class="fas fa-cut"></i>
			<h3 class="heading mb-sm-5 mb-3 text-uppercase">Locate Us</h3>
		</div>
		<div class="contact-main-grid">
			<div class="contact-map">
				<iframe src="https://www.google.com/maps/search/alex+salon+satara/@17.6861746,74.0013235,13.25z"></iframe>
			</div>
			<div class="contact-info">
				<div class="mb-5">
					<h4 class="mb-3">Address</h4>
					<p><span class="fas fa-map mr-2"></span> Shahu Stadium Shop No 21, </p>
					<p>Satara City, Satara - 415002,</p>
					<p><span class="fas fa-phone mr-2"></span> 9623666644 ,8605226644</p>
					<p><span class="fas fa-envelope mr-2"></span> <a href="mailto:name@example.com"> mail@example.com</a> </p>
				</div>
				<div class="">
					<h4 class="mb-3">Opening Hours</h4>
					<p><span class="fas fa-clock mr-2"></span> Monday:- Closed
					<p><span class="fas fa-clock mr-2"></span>Tuesday To Sunday:- 9:30 Am - 10:30 Pm</p>	
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- contact map and address -->

<!-- Appointment -->
<section class="appointment" id="appointment">
	<div class="test_agile_info py-5">
		<div class="container py-lg-3">
			<div class="subscribe_inner">
				
				<div class="social mt-5">
					<ul class="d-flex mt-4 justify-content-center">
						<li class="mx-2"><a target="_blank" href="https://www.facebook.com/pages/category/Beauty--Cosmetic---Personal-Care/Alex-unisex-salon-107446620999197/"><span class="fab fa-facebook-f"></span></a></li>
						<li class="mx-2"><a target="_blank" href="https://twitter.com/alexssalonsb?lang=en"><span class="fab fa-twitter"></span></a></li>
						<li class="mx-2"><a target="_blank" href="#"><span class="fas fa-rss"></span></a></li>
						<li class="mx-2"><a target="_blank" href="#"><span class="fab fa-linkedin-in"></span></a></li>
						<li class="mx-2"><a target="_blank" href="https://www.justdial.com/Satara/Alex-Saloon-Raviwar-Peth-Satara-City/9999P2162-2162-130529153701-N3A8_BZDET"><span class="fab fa-google-plus"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //Appointment -->

