
<!DOCTYPE html>
<html lang="en">
<head>
<title>Barber Beauty Category Flat Bootstrap Responsive Website Template | Home :: W3layouts</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Barber Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
	
	<!-- Date picker css file --> 
	<link rel="stylesheet" href="<?= base_url() ?>assets/css/jquery-ui.css" />
	<!-- //Date picker css file --> 
	
	<!-- responsive tabs --><!-- for pricing section -->
	<link href="<?= base_url() ?>assets/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
	<!-- responsive tabs -->
	
	<!-- css files -->
	<link rel="stylesheet" href="<?= base_url() ?>assets/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="<?= base_url() ?>assets/css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="<?= base_url() ?>assets/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
	<!-- //web-fonts -->
	
</head>

<body>

<!--/header-->
<header>
	<div class="top-bar_sub container-fluid">
		<div class="top-forms text-left mt-3">
			<!--/nav-->
			<div class="header_top">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mx-auto">
							<li class="nav-item active">
								<a class="nav-link" href=" ">Home
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link scroll" href="#about">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link scroll" href="#services">Services</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link scroll" href="#pricing">Pricing</a>
							</li>
							<li class="nav-item">
								<a class="nav-link scroll" href="#appointment">Appointment</a>
							</li>
							<li class="nav-item">
								<a class="nav-link scroll" href="#contact">Contact</a>
							</li>

						</ul>
					</div>
					
				</nav>
			</div>
			<!--//nav-->
		</div>
		<div class="logo text-center">
			<a class="navbar-brand" href=" ">
				<i class="fas fa-cut"></i> alex <span> Best Hair Salon</span></a> 
		</div>
	</div>
</header>