
   <footer class="main-footer  " style="
   position: sticky;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;">
    <div class="float-right d-none d-sm-block">
      <b></b>
    </div>
    <strong>Copyright &copy; 2014-2020 <a href="">3Staritsolutions</a>.</strong> All rights reserved.
  </footer>
</div>


<script>
  $(function () {
    bsCustomFileInput.init();
  });
  </script>


<script>
  ClassicEditor
    .create( document.querySelector( '#editor' ) )
    .then( editor => {
        console.log( editor );
    } )
    .catch( error => {
        console.error( error );
    } );
</script>
</body>
</html>
